/* Elimina cualquier fondo global para que el login solo lo tenga cuando se agregue la clase */
body {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
